conf.d/
data/
.env
docker-compose.yml
docker-compose.override.yml

# Allow users to create custom dockerfiles and add user content.
manifest/panel/user
manifest/panel/Dockerfile.user
manifest/daemon/user
manifest/panel/Dockerfile.user
